[data-dropdown] {
    position: relative;  /* aqui tem que ser position relative por causa que quero mexer no top, aí tenho que colocar no dropdown-menu
    position absolute e ela tem que ser absoluto ao data-dropdown */
}

[data-dropdown] .dropdown-menu {
    display: none;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown].ativo .dropdown-menu {
    display: block;
    animation: show-up .3s forwards;
}

@keyframes show-up {
    from {
        opacity: 0;
        transform: translate3d(0,30px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.dropdown-menu {
    position: absolute;
    top: 34px;
    background: #E54;
    border: 2px solid #333;
    z-index: 200;
}

/* esse before é para fazer o triangulo antes do menu dropdown */
.dropdown-menu::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    width: 0px;
    height: 0px;
    /* esses três de baixo da border é para fazer o triangulo  */
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #E54;
}

.dropdown-menu li a:hover {
    color: #fff;
}